html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html{
    box-sizing: border-box;
}
body{
    background-color: rgb(164, 164, 240);
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.panel{
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    border: 3px solid rgb(167, 167, 167);
    padding: 15px 20px;
    width: 100%;
    max-width: 960px;
    text-align: center;
    flex-direction: column;
    display: flex;
    
}
.pricing-plan{
    border-bottom: 1px solid rgb(211, 211, 211);
}
.pricing-plan:last-child{
    border-bottom: none;
}
.pricing-img{
    margin-bottom: 25px;
    max-width: 100%;
    
}
.pricing-header{
    color: #888;
    letter-spacing: 1px;
    font-weight: 590;
}
.pricing-features{
    margin: 40px 0 25px ;
    color: rgb(110, 110, 243);
    
   
}
.pricing-features-item{
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 2;
    padding: 15px 0;
    border-top: 1px solid rgb(218, 218, 218);
    font-size: 12px ;
}
.pricing-price{
    color: rgb(110, 110, 243);
    font-size: 32px;
    font-weight: 700;
    display: block;
}


.pricing-button{
    border:1px solid rgb(134, 134, 247) ;
    padding: 20px 30px;
    display: inline-block;
    text-decoration: none;
    margin: 25px 0;
    border-radius: 5px;
    font-weight: 100;
}
.pricing-button:hover{
    background-color: #bea4ff;
    color: white;
    transition: background-color .3s ;
    transition: color .2s ;

}
.pricing-button.is-featured{
    background-color: #bea4ff;
    color: rgb(255, 255, 255);
}
.pricing-button.is-featured:hover{
    background-color: #a888fa;
    transition: background-color .4s ;
}
@media (min-width:900px){
    .panel{
        flex-direction: row;
    }
    .pricing-plan{
        border-bottom: none;
        border-right: 1px solid #e0e0e0;
        padding: 25px 50px;
    }
    .pricing-plan:last-child{
        border-right: none;
    }
    
}